*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.titulo{
    font-size:300%;
    position: absolute;
}

.h2{
    color: white;
    background-color: black;
    text-align: center;
}

.logo{
    position: absolute;
    left: 80%;
    top: 60%;
    width: 150px;
}

a{
    display: block;
    margin: 3%;
}

section{
    position: absolute;
    left: 25%;
    top: 83%;
}

article{
    margin-top: 13px;
}

.none{
    display: none;
}

section #a_contact{
    display: inline;
}

.p_contact{
    display: inline;
}


